body {
    margin-left: 100px;
    margin-top: 100px;
  }
  
  .tri-state-toggle {
      background: rgba(165,170,174,0.25);
      box-shadow: inset 0 2px 8px 0 rgba(165,170,174,0.25);
      border-radius: 24px;
      display: inline-block;
      overflow: hidden;
      display: inline-flex;
      flex-direction: row;
    transition: all 500ms ease; 
  }
  
  .tri-state-toggle-button {
      border-radius: 22px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      background-color: transparent;
      border: 0px solid transparent;
      margin: 2px;
      color: #727C8F;
      cursor: pointer;
    
  /*    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition:    all 0.5s ease-in-out;
    -ms-transition:     all 0.5s ease-in-out;
    -o-transition:      all 0.5s ease-in-out; */
    transition:         all 0.5s ease;
  }
  
  .tri-state-toggle-button.active {
      background-image: linear-gradient(-180deg, #fff 0%, #FAFAFA 81%, #F2F2F2 100%);
      border: 1px solid rgba(207,207,207,0.6);
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
      color: #6744B1;
      font-weight: 500;
    transition: all .5s ease-in;
  }
  
  .tri-state-toggle-button:focus {
    outline: none;
  }